<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <input formControlName="email" placeholder="Email">
  <input formControlName="firstName" placeholder="First Name">
  <input formControlName="lastName" placeholder="Last Name">
  <input formControlName="password" type="password" placeholder="Password">
  <input formControlName="confirmPassword" type="password" placeholder="Confirm password">
  @if(registerForm.hasError('passwordMissmatch') && (registerForm.touched || registerForm.dirty)){
    <div  class="cross-validation-error-message alert alert-danger">
      Password Missmatch
    </div>
  }

  <button type="submit" [disabled]="!registerForm.valid">Register</button>
</form>
